body {
    width: 100%;
    height: auto;
}

:root {
    --blue: #182747;
    --green: #78938A;
}

.navbar {
    border-bottom:0.1em solid var(--blue);
}

.nav-link {
    color: var(--blue) !important;
    }

.search-container {
    max-width: 700px;
    margin-top: 7%;
}

.pills {
    width:9em;
}

.city {
    height: 5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-size: 1rem;
    text-shadow: 1px 1px black;
    color: #fff;
    width: 80%;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}


.nav-pills .nav-link.active {
    background-color: var(--blue);
    color:white !important;
}

.btn {
    background-color: var(--blue);
    color:white !important;
}

.dropdown-toggle::after {
    border:none;
}

/* <<<<<<< HEAD */


.carousel-card {
    max-width:270px;
    max-height:276px;
}

.card-img {
    max-width:270x;
    max-height:160px;
}

.advancedSearch{
    margin-top: 5rem;
}

.adContainer{
    margin-top: 5rem;
}

.loginContainer{
    margin-top: 5rem !important;
}